.title {
    background-color: #6c757d;
    border-bottom: 2px solid white;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    color: aliceblue;
}


.headers {
    background-color: #adb5bd;
    border-bottom: 2px solid white;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-align: center;
}

.content {
    background-color: #ced4da;
    border-bottom: 2px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}

h4 {
    font-family: Oswald, sans-serif;
    padding-top: 1%;
}

.maintext {
    font-family: 'Times New Roman', Times, serif sans-serif !important;
}

.footer {
    background-color: #6c757d;
    border-bottom: #6c757d;
}

.contacts {
    font-family: Oswald, sans-serif;
    font-size: large;
    color: aliceblue;
}

.contactbanner {
    color: aliceblue;
    font-family: Oswald, sans-serif;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagemcar {
    height: auto;
    width: auto;
}

.labels {
    background-clip: border-box;
    background-color: rgba(240, 248, 255, 0.75);
    color: black;
    font-weight: bold;
}

.col-2 {
    background-color:  #ced4da;
    border-bottom: 2px solid white;

}

.col-8 {
    background-color:  #ced4da;
    border-bottom: 2px solid white;
}